
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Product</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="form-container">

    <h2>Track Product</h2>

    <form action="/result">

        <input type="text"
               name="id"
               placeholder="Batch ID"
               required>

        <button class="btn">
            Track
        </button>

    </form>

</div>

</body>
</html>